ipykernel
jupyter
ipywidgets
numpy
pandas
scipy
scikit-learn
statsmodels
seaborn
matplotlib
networkx
xarray
h5py
netcdf4
mne

# pip-only extras
addict
asrpy
autoreject
colour
diskcache
eeglabio
h5io
hmp
isosurfaces
manimgl
manimpango
mapbox-earcut
meegkit
mne-icalabel
moderngl
moderngl-window
openpyxl
patsy
pydub
pyglet
pyglm
pymatreader
pyopengl
pyparsing
pyperclip
pyprep
pyqt5
pyriemann
requests
rich
screeninfo
shiboken2
skia-pathops
svgelements
sympy
torch
tqdm
unidecode
validators
xmltodict
